* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: fantasy;
}

.cardlist {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 90%;
  margin: 2rem auto;
  gap: 1rem;
}

.card {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  height: 250px;
  text-transform: uppercase;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

@media (max-width: 1100px) {
  .cardlist {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 980px) {
  .cardlist {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .cardlist {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .cardlist {
    grid-template-columns: 1fr;
  }
}
